.vis-current-time {
  background-color: red !important;
  width: 2px !important;
  z-index: 1; /* Ensure it is on top of other elements */
  position: absolute;
  top: -50%;
  display: flex;
  flex-direction: column;
}
/* .vis-current-time::after{
  background-color: red;
  content: 'Now Live';
  width: 6vw;
  color: #fff;
  padding: 10px;
  position: absolute;
  left: -10%;
} */

/* Remove any border around the timeline container */
.vis-timeline {
  border: none !important; /* Remove the border around the timeline container */
  outline: none !important; /* Remove any outline as well */
}

/* Optional: Hide the border of the individual timeline items */
.vis-item {
  border: none !important;
}

.vis-time-axis .vis-text {
  width: 100%;
}

.vis-timeline,
.vis-item,
.vis-panel,
.vis-box,
.vis-range,
.vis-dot,
.vis-line,
.vis-group,
.vis-label,
.vis-labelset,
.vis-inner,
.vis-background,
.vis-current-time {
  border: none !important;
  box-shadow: none !important;
}

.vis-time-axis,
.vis-grid,
.vis-minor,
.vis-major {
  border: none !important;
  background-color:  none !important;
  box-shadow: none !important;
}

.vis-panel, .vis-left, .vis-right{
  border: none !important;
}
.vis-label{
  border:none !important;
  background-color: transparent !important;
}
.vis-item .vis-item-overflow .vis-item-content {
  padding:0px !important;
  border-radius: 0% !important;
  background-color: #E3E3E3 !important;
}

.vis-item .vis-item-overflow{
  padding: 0px !important;
  background-color: #E3E3E3 !important;
}

.vis-item .vis-item-overflow:hover{
  padding-bottom: 0px !important;
}