.vis-current-time {
  background-color: red !important;
  width: 2px !important;
  z-index: 1; /* Ensure it is on top of other elements */
  position: absolute;
  top: -50%;
  display: flex;
  flex-direction: column;
}
/* .vis-current-time::after{
  background-color: red;
  content: 'Now Live';
  width: 6vw;
  color: #fff;
  padding: 10px;
  position: absolute;
  left: -10%;
} */

/* Remove any border around the timeline container */
.vis-timeline {
  border: none !important; /* Remove the border around the timeline container */
  outline: none !important; /* Remove any outline as well */
}

/* Optional: Hide the border of the individual timeline items */
.vis-item {
  border: none !important;
}

.vis-time-axis .vis-text {
  width: 100%;
}

.vis-timeline,
.vis-item,
.vis-panel,
.vis-box,
.vis-range,
.vis-dot,
.vis-line,
.vis-group,
.vis-label,
.vis-labelset,
.vis-inner,
.vis-background,
.vis-current-time {
  border: none !important;
  box-shadow: none !important;
}

.vis-time-axis,
.vis-grid,
.vis-minor,
.vis-major {
  border: none !important;
  background-color:  none !important;
  box-shadow: none !important;
}

.vis-panel, .vis-left, .vis-right{
  border: none !important;
}
.vis-label{
  border:none !important;
  background-color: transparent !important;
}
/* .vis-top {
  background-color: black;
  position: relative;
  width: 70px;
  height: 70px;
} */

/* Add left icon before .vis-top */
/* .vis-top::before {
  content: '<';
  display: inline-block;
  width: 24px;
  height: 24px;
   background-image: url('https://d2ivesio5kogrp.cloudfront.net/static/images/dt_prev.png'); 
   background-size: contain; 
  background-repeat: no-repeat; 
  background-color: azure;
  justify-content: center;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
} */

/* Add right icon after .vis-top */
/*.vis-top::after {
  content: '>';
  display: inline-block;
  width: 25px;
  height: 60px;
  justify-content: center;
  align-items: center;
  /* background-image: url('https://d2ivesio5kogrp.cloudfront.net/static/images/dt_prev.png');  */
  /* background-size: contain; 
  /* background-repeat: no-repeat; 
   background-color: azure;
  position: absolute;
  right: 8px;
  top: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  transform: translateY(-50%);
  z-index: 2;
} */